<section class="services w-full px-6 md:px-12 py-20">
    <div class="text-center mb-[80px]">
        <div class="flex flex-col relative items-center">
        <span class="text-[50px] font-bold text-white">My Services</span>
        <span
            class="big-services text-[7vw] font-bold text-[#7f7f7f] absolute opacity-15 -z-10"
        >
            Services
        </span>
        </div>
        <p class="text-lg text-[#7f7f7f] mt-4">
            Crafting innovative solutions that blend design, functionality, and performance.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center text-center justify-between transition cursor-pointer"
        >
        <i class="flaticon-analysis"></i>
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">Web Animation and Micro Interactions</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>

        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center text-center justify-between transition cursor-pointer"
        >
        <i class="flaticon-ux-design"></i>
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">Responsive Design</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>

        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center text-center justify-between transition cursor-pointer"
        >
        <i class="flaticon-web-design"></i> 
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">web development</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>

        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center text-center justify-between transition cursor-pointer"
        >
        <i class="flaticon-innovation"></i>
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">Performance and Optimization</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>

        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center text-center justify-between transition cursor-pointer"
        >
        <i class="flaticon-flasks"></i> 
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">API Integration</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>

        <div
        class="service-card bg-[#161616] p-15 flex flex-col items-center justify-between text-center transition cursor-pointer"
        >
        <i class="flaticon-idea"></i> 
        <h3 class="text-white mt-2 uppercase font-semibold tracking-[1px] text-[13px]">Website Maintenance and Support</h3>
        <div class="w-8 h-[2px] bg-[#ffbd39] mt-2"></div>
        </div>
    </div>
</section>
